body {
  background-color: #ffed00;
  padding: 0;
  margin: 0;
  font: 14px/1.5 "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

header {
  padding: 3em 0 300px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to bottom, #d041ce 0%, rgba(255, 14, 209, 0) 100%); }

.preview {
  background-image: url("../img/xd0-preview.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 690px;
  position: relative;
  margin: -300px auto 0; }

.title {
  font-size: 4em;
  line-height: 1em;
  font-weight: 100;
  margin: .5em auto; }

.subtitle {
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 400;
  margin: .5em auto; }

.wrap {
  width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  position: relative;
  margin-top: -4em; }

.gh-btns {
  display: inline-block;
  position: relative; }

.instructions {
  text-align: left; }

a {
  text-decoration: none;
  color: #1807e0;
  transition: .3s; }
  a:hover {
    color: #0d00a2; }

pre, code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace, 'courier new', monospace;
  line-height: 1.4em;
  font-size: 13px;
  color: #b6aeae;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #1f1c1c;
  border: 1px solid #121212;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 100;
  position: relative; }

code {
  padding: 2px 8px 1px 6px;
  border-radius: 4px; }

pre {
  padding: 10px 20px;
  border-radius: 6px; }
  pre code {
    position: relative;
    border: none;
    box-shadow: inset 0 0 0;
    background-color: transparent;
    border-radius: 0; }
    pre code::after {
      position: absolute;
      content: "~";
      color: #076fe1;
      margin-left: -.5em;
      left: 0;
      top: 0;
    }

h4 {
  font-size: 1.7em;
  margin: .4em auto;
  line-height: 0.7em;
  font-weight: 600;
  margin-top: 1.7em; }

.xcodeicon {
  position: relative;
  top: 5px; }

.getxcode {
  font-size: 2.5em;
  margin: .7em auto;
  font-weight: 500; }

  .github-ribbon {
    position: absolute;
    top: -35px;
    right: -114px;
    padding: 1px 0;
    transform-origin: top left;
    transform: rotate(45deg);
    background-color: #ea7600;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  }

  .github-ribbon__link {
    display: inline-block;
    width: 250px;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.06em;
    text-shadow: 0 -1px #777;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-top: 1px dotted #ffc284;
    border-bottom: 1px dotted #ffa951;
  }
